language: generic
#before_script:
#  - sudo apt-get install libboost-test-dev -y
matrix:
  include:
    - os: linux
      env: COMPILER_NAME=gcc CXX=g++-5 CC=gcc-5
      addons:
        apt:
          packages:
            - g++-5
          sources: &sources
            - llvm-toolchain-precise-3.8
            - ubuntu-toolchain-r-test
script:
#  - cmake .
  - cmake -DCMAKE_VERBOSE_MAKEFILE:BOOL=ON .
  - cmake --build .
  - cmake --build . --target package
before_deploy: 
  - 'export _PROJECT_VERSION=`grep -Eo "[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+" version.cpp`'
deploy:
  provider: script
  skip_cleanup: true
  script:
  - '! curl -T allocator-${_PROJECT_VERSION}-Linux.deb -uboydad:$BINTRAY_API_KEY "https://api.bintray.com/content/boydad/otus-cpp/8-allocator/${_PROJECT_VERSION}/allocator/allocator-${_PROJECT_VERSION}-Linux.deb;deb_distribution=trusty;deb_component=main;deb_architecture=amd64;publish=1" | grep -v success'

